### Carregando os dados

In [1]:
import os
import pandas as pd
import ast
import geopy.distance as gp
import math
import datetime
import operator

os.chdir("/home/tales/dev/master/mdc_analysis/")
from src.dao import csv_dao
from src.poi_grabber import google_places

In [2]:
user_stop_regions = csv_dao.load_user_stop_regions(5967)
user_stop_regions_centroids = csv_dao.load_user_stop_regions_centroids(5967)
pois = google_places.load_all_google_places_data()

Métodos auxiliares

In [3]:
def slice_geo_data2(data, center_lat, center_lon, lat_name, lon_name, tolerance):
    min_lats,max_lats,min_lons,max_lons = get_search_boundaries(center_lat, center_lon, tolerance)
    return data[(data[lat_name] >= min_lats)  & (data[lat_name] <= max_lats) &
                (data[lon_name] >= min_lons) & (data[lon_name] <= max_lons)]

def get_search_boundaries(center_lat, center_lon, 
                          tolerance, threshold=1):
    upper_limit = tolerance + threshold
    lower_limit = tolerance - threshold
    min_lats,max_lats,min_lons,max_lons = get_lat_long_with_tolerance(center_lat, 
                                                                        center_lon, 
                                                                        tolerance, 
                                                                        upper_limit, 
                                                                        lower_limit,
                                                                        True)
    distance = distance_epsg_4326(min_lats, min_lons, center_lat, center_lon)
    return round(min_lats,6),round(max_lats,6),round(min_lons,6),round(max_lons,6)
    
def get_lat_long_with_tolerance(center_lat, center_lon, 
                                tolerance, 
                                upper_limit, lower_limit, adjust=False):
    km_per_degree = 111.32
    meter_degree = (1 / km_per_degree) / 1000
    coef = tolerance * meter_degree
    min_lats = center_lat - coef
    min_lons = center_lon - coef
    max_lats = center_lat + coef
    max_lons = center_lon + coef
    distance = distance_epsg_4326(max_lats, max_lons, center_lat, center_lon)
    if(adjust == True):
        if(distance > upper_limit):
            new_tolerance = tolerance - ((distance - upper_limit) / 1.4)
            return get_lat_long_with_tolerance(center_lat, center_lon, 
                                           new_tolerance, 
                                           upper_limit, lower_limit) 
        if(distance < lower_limit):
            new_tolerance = tolerance + ((lower_limit - distance) / 1.4)
            return get_lat_long_with_tolerance(center_lat, center_lon, 
                                           new_tolerance, 
                                           upper_limit, lower_limit) 
    else:
        if(distance > upper_limit):
            return get_lat_long_with_tolerance(center_lat, center_lon, 
                                           tolerance - 1, 
                                           upper_limit, lower_limit) 
        if(distance < lower_limit):
            return get_lat_long_with_tolerance(center_lat, center_lon, 
                                           tolerance + 1, 
                                           upper_limit, lower_limit) 
    return min_lats,max_lats,min_lons,max_lons

def distance_epsg_4326(lat1, lon1, lat2, lon2):
    coords1 = (lat1, lon1)
    coords2 = (lat2, lon2)
    distance = gp.distance(coords1, coords2).m
    return distance

In [4]:
# Seleciona o(s) POI(s) mais próximo(s) de acordo com a tolerância
# utilizada -- default: 1m
def get_closest_pois(center_lat, center_lon, 
                    pois, distance_tolerance):
    distances = {}
    closest_pois_ids = []
    if(len(pois) > 0):
        for index, row in pois.iterrows():
            distances[row["place_id"]] = distance_epsg_4326(center_lat, center_lon, 
                         row["latitude"], row["longitude"])
        ordered_distances = sorted(distances.items(), key=operator.itemgetter(1))
        closest_poi_distance = ordered_distances[0][1]
        for poi,distance in distances.items():
            if(distance <= closest_poi_distance + distance_tolerance):
                closest_pois_ids.append(poi)    
    return closest_pois_ids


# Retorna o tempo em minutos a partir do timestamp inicial e final
def get_time_spent_in_minutes(timestamp_start_time, timestamp_end_time):
    return int(timestamp_end_time-timestamp_start_time) / 60

# Calcula os quartis
def get_blox_plot_info(data):
    df = pd.DataFrame(data) 
    quantiles = df.quantile([0.25,0.5,0.75])
    return quantiles

    
# Agrupa stop-regions com POIs
def group_stop_regions_with_pois(stop_regions, 
                       pois, 
                       lat_name, lon_name, 
                       poi_distance_tolerance=1, 
                       search_tolerance=50):
    result_pois = {}
    for index, row in stop_regions.iterrows():
        center_lat = round(row[lat_name], 6)
        center_lon = round(row[lon_name], 6)
        sr_id = row['sr_id'] # denominacao pro id?
        sr_total_time = row['local_end_time'] - row['local_start_time']
        filtered_pois = slice_geo_data2(pois, center_lat, center_lon, lat_name, lon_name, search_tolerance)
        for poi in get_closest_pois(center_lat, center_lon, filtered_pois, poi_distance_tolerance):
            time_spent_in_minutes = get_time_spent_in_minutes(row['local_start_time'], row['local_end_time'])
            if poi in result_pois:
                result_pois[poi][1].append(time_spent_in_minutes)
                result_pois[poi][2].append(sr_id)
            else:
                result_pois[poi] = [poi, [time_spent_in_minutes], [sr_id]]
    for poi in result_pois:
        result_pois[poi][1] = get_blox_plot_info(result_pois[poi][1])
    return result_pois

In [5]:
users = os.listdir("outputs/stop_regions/")

In [6]:
users_sr = []

In [7]:
rows = []
n=0
for user_id in users:
    n+=1
    print("n:", n, "user_id:", user_id)
    user_sr_centroids = csv_dao.load_user_stop_regions_centroids(user_id)
    results = group_stop_regions_with_pois(user_sr_centroids,
                                 pois,
                                 "latitude",
                                 "longitude")
    
    for r_key in results.keys():
        row = {}
        r = results[r_key]
        row["user_id"] = user_id
        row["place_id"] = r[0]
        row["q1"] = r[1].loc[0.25].item()
        row["q2"] = r[1].loc[0.5].item()
        row["q3"] = r[1].loc[0.75].item()
        row["sr_list"] = r[2]
    
        rows.append(row)

n: 1 user_id: 6189
n: 2 user_id: 5936
n: 3 user_id: 6087
n: 4 user_id: 5973
n: 5 user_id: 6085
n: 6 user_id: 6074
n: 7 user_id: 6012
n: 8 user_id: 5982
n: 9 user_id: 5948
n: 10 user_id: 5974
n: 11 user_id: 6090
n: 12 user_id: 6199
n: 13 user_id: 6068
n: 14 user_id: 6024
n: 15 user_id: 5976
n: 16 user_id: 6094
n: 17 user_id: 5941
n: 18 user_id: 5995
n: 19 user_id: 5962
n: 20 user_id: 6093
n: 21 user_id: 6033
n: 22 user_id: 6079
n: 23 user_id: 6038
n: 24 user_id: 6175
n: 25 user_id: 6042
n: 26 user_id: 5924
n: 27 user_id: 6083
n: 28 user_id: 6178
n: 29 user_id: 5958
n: 30 user_id: 6086
n: 31 user_id: 6100
n: 32 user_id: 5945
n: 33 user_id: 5925
n: 34 user_id: 5935
n: 35 user_id: 6172
n: 36 user_id: 5955
n: 37 user_id: 6073
n: 38 user_id: 5980
n: 39 user_id: 6010
n: 40 user_id: 5993
n: 41 user_id: 6037
n: 42 user_id: 5979
n: 43 user_id: 5966
n: 44 user_id: 5985
n: 45 user_id: 5967
n: 46 user_id: 5970
n: 47 user_id: 6169
n: 48 user_id: 6188
n: 49 user_id: 6097
n: 50 user_id: 6096
n: 51 user_id: 6041
n: 52 user_id: 6192
n: 53 user_id: 6064
n: 54 user_id: 6183
n: 55 user_id: 5954
n: 56 user_id: 5972
n: 57 user_id: 6060
n: 58 user_id: 6069
n: 59 user_id: 5937
n: 60 user_id: 6028
n: 61 user_id: 5990
n: 62 user_id: 6071
n: 63 user_id: 5928
n: 64 user_id: 5992
n: 65 user_id: 6058
n: 66 user_id: 6001
n: 67 user_id: 5964
n: 68 user_id: 5950
n: 69 user_id: 5991
n: 70 user_id: 6177
n: 71 user_id: 5961
n: 72 user_id: 6176
n: 73 user_id: 6007
n: 74 user_id: 5956
n: 75 user_id: 6182
n: 76 user_id: 6171
n: 77 user_id: 5938
n: 78 user_id: 5960
n: 79 user_id: 6103
n: 80 user_id: 6179
n: 81 user_id: 6027
n: 82 user_id: 5947
n: 83 user_id: 6020
n: 84 user_id: 5927
n: 85 user_id: 6047
n: 86 user_id: 6072
n: 87 user_id: 5977
n: 88 user_id: 6198
n: 89 user_id: 5957
n: 90 user_id: 5975
n: 91 user_id: 6057
n: 92 user_id: 6102
n: 93 user_id: 6043
n: 94 user_id: 6077
n: 95 user_id: 6026
n: 96 user_id: 6014
n: 97 user_id: 6078
n: 98 user_id: 6166
n: 99 user_id: 6015
n: 100 user_id: 5978
n: 101 user_id: 5986
n: 102 user_id: 5969
n: 103 user_id: 6174
n: 104 user_id: 5949
n: 105 user_id: 5959
n: 106 user_id: 6023
n: 107 user_id: 6051
n: 108 user_id: 6029
n: 109 user_id: 6036
n: 110 user_id: 6070
n: 111 user_id: 5952
n: 112 user_id: 6062
n: 113 user_id: 6056
n: 114 user_id: 5942
n: 115 user_id: 5953
n: 116 user_id: 6034
n: 117 user_id: 6076
n: 118 user_id: 6066
n: 119 user_id: 5940
n: 120 user_id: 6197
n: 121 user_id: 6109
n: 122 user_id: 6002
n: 123 user_id: 6016
n: 124 user_id: 6187
n: 125 user_id: 5987
n: 126 user_id: 6053
n: 127 user_id: 6104
n: 128 user_id: 5943
n: 129 user_id: 6017
n: 130 user_id: 6168
n: 131 user_id: 6045
n: 132 user_id: 5989
n: 133 user_id: 5963
n: 134 user_id: 5968
n: 135 user_id: 6194
n: 136 user_id: 6190
n: 137 user_id: 6003
n: 138 user_id: 6035
n: 139 user_id: 6167
n: 140 user_id: 6004
n: 141 user_id: 6030
n: 142 user_id: 6054
n: 143 user_id: 6032
n: 144 user_id: 6170
n: 145 user_id: 6063
n: 146 user_id: 6005
n: 147 user_id: 5988
n: 148 user_id: 5944
n: 149 user_id: 6075
n: 150 user_id: 6061
n: 151 user_id: 5965
n: 152 user_id: 6040
n: 153 user_id: 6000
n: 154 user_id: 6059
n: 155 user_id: 5951
n: 156 user_id: 6106
n: 157 user_id: 6082
n: 158 user_id: 6031
n: 159 user_id: 6180
n: 160 user_id: 6039
n: 161 user_id: 6181
n: 162 user_id: 6067
n: 163 user_id: 5939

In [8]:
pd.DataFrame(rows)[["user_id", "place_id", "q1", "q2", "q3", "sr_list"]].sample(8)

,user_id,place_id,q1,q2,q3,sr_list
13006,5947,ChIJSZAq3NPJjkcRCXtpAaTVYu0,14.245833,30.683333,46.650000,"[5947_63, 5947_118, 5947_184, 5947_227, 5947_2..."
9084,5937,ChIJacHAyjLIjkcRSiCjYTIXlow,55.383333,55.383333,55.383333,[5937_85]
21445,6167,ChIJOTPFcZ0thEcR4lr7IqXKN8U,28.983333,28.983333,28.983333,[6167_87]
14217,6072,ChIJ____P0oujEcRdbuoYp1gLXA,28.133333,28.133333,28.133333,[6072_813]
2969,5995,ChIJ3TgzFCkujEcRoaM3zy-6l4o,8.150000,8.150000,8.150000,[5995_439]
17823,5953,ChIJfUiU1KXLjkcRlrUrOxg4db8,10.250000,10.250000,10.250000,[5953_616]
19417,6053,ChIJHWEEwTppjkcRhOeQ5oU6z5k,10.083333,10.083333,10.083333,[6053_26]
23119,5988,ChIJzy1UBzR7jEcR-GvDgA5urVM,89.866667,89.866667,89.866667,[5988_51]

In [10]:
pd.DataFrame(rows)[["user_id", "place_id", "q1", "q2", "q3", "sr_list"]].to_csv("outputs/sr_time_quartiles/sr_time_quartiles.csv", index=False)