In [12]:
import os
import pandas as pd

os.chdir("/home/tales/dev/master/mdc_analysis/")

from src.taxonomy.category_mapping import CategoryMapper
from src.poi_grabber import google_places
from src.utils.others import remove_list_elements
from src.exceptions.exceptions import NoCategoryMatched, NotValidTypes

### Loading

In [3]:
def load_sr_timestamp_quartiles():
    return pd.read_csv("outputs/sr_time_quartiles/sr_time_quartiles.csv")

In [24]:
sr_time_quartiles = load_sr_timestamp_quartiles()
print(len(sr_time_quartiles))
sr_time_quartiles.sample(10)

25711

,user_id,place_id,q1,q2,q3,sr_list
2763,6023,ChIJeWUQwnw1jEcRO0ZN5BBJjjQ,21.566667,21.566667,21.566667,['6023_12']
15355,6094,ChIJQRQdiMkvjEcRvSieQBMHov0,10.604167,116.483333,858.637500,"['6094_93', '6094_120', '6094_275', '6094_421'..."
18148,5947,ChIJ92Ir9ivcjkcRxXE5E1d5Cwc,25.100000,25.133333,25.150000,"['5947_69', '5947_70', '5947_71', '5947_72', '..."
8214,5986,ChIJ7wnvrbjcjkcRKqHAVnZxoI4,12.983333,12.983333,12.983333,['5986_328']
8367,6038,ChIJgaJMQBqbjkcRpKkmYKKqVc4,12.283333,12.283333,12.283333,['6038_74']
586,6057,ChIJcdXz1jQujEcRHNERJvMagvs,6.166667,6.166667,6.166667,['6057_125']
10999,5935,ChIJdaAMf4EvjEcRqv-lVYW_yoI,10.450000,10.450000,10.450000,['5935_155']
21582,5992,ChIJP3IrYjMujEcR-SgRnGWKW-k,65.616667,65.616667,65.616667,['5992_24']
13817,6047,ChIJH0Kt4zEujEcRlqwayUzvyTw,7.066667,7.066667,7.066667,['6047_111']
22278,5965,ChIJzyZ8G-e8jkcRhnIfBcFKXj4,41.616667,41.616667,41.616667,['5965_94']

In [25]:
pois = google_places.load_all_google_places_data()
pois[["place_id", "types"]].head(5)

,place_id,types
place_id,,
ChIJTcpEIDQujEcRfRIRizbvj4k,ChIJTcpEIDQujEcRfRIRizbvj4k,"[accounting, finance, local_government_office]"
ChIJPV-d_9dkjEcRh-AFXijs5H0,ChIJPV-d_9dkjEcRh-AFXijs5H0,[store]
ChIJ6TtT3J1EjEcRdmsz6L2gHTU,ChIJ6TtT3J1EjEcRdmsz6L2gHTU,[beauty_salon]
ChIJLZi4AC8ujEcRvSGJiRYVAk0,ChIJLZi4AC8ujEcRvSGJiRYVAk0,[health]
ChIJKTbDs6ygmkcRhp_reVwKcjc,ChIJKTbDs6ygmkcRhp_reVwKcjc,[finance]

### Cleaning

In [6]:
pois["types"] = pois["types"].apply(lambda type_list : remove_list_elements(type_list, ["point_of_interest", "establishment", "parking"]))

In [27]:
print(len(pois[["place_id", "types"]]))
pois[["place_id", "types"]].sample(8)

41819

,place_id,types
place_id,,
ChIJPTtLn6k5jkcRUu8ah_6pSuE,ChIJPTtLn6k5jkcRUu8ah_6pSuE,[store]
ChIJraFUcs3JjkcRepwe0PX_9J8,ChIJraFUcs3JjkcRepwe0PX_9J8,[health]
ChIJA96Har85jkcRAM4Fdi1OEAw,ChIJA96Har85jkcRAM4Fdi1OEAw,[store]
ChIJE-t4AE0ZjkcRFyPEZEkj48w,ChIJE-t4AE0ZjkcRFyPEZEkj48w,"[doctor, health]"
ChIJj0XjPfWVjkcRcnlo61SrjQw,ChIJj0XjPfWVjkcRcnlo61SrjQw,"[supermarket, grocery_or_supermarket, bakery, ..."
ChIJ0eYCS6M5jkcR4xX87dANGOo,ChIJ0eYCS6M5jkcR4xX87dANGOo,[school]
ChIJYZ_kU9M0hEcR9yxbmJ7RMqQ,ChIJYZ_kU9M0hEcR9yxbmJ7RMqQ,"[transit_station, train_station, bus_station]"
ChIJh-zQWW_9mkcRe3owqgsnqUg,ChIJh-zQWW_9mkcRe3owqgsnqUg,[hair_care]

In [28]:
pois = pois[pois["types"].apply(len) > 0]
pois[["place_id", "types"]].sample(10)

,place_id,types
place_id,,
ChIJLX_XCzNljEcROo9ou2vOkUM,ChIJLX_XCzNljEcROo9ou2vOkUM,"[restaurant, food]"
ChIJRaYN7icujEcRvmUcqnRZJH4,ChIJRaYN7icujEcRvmUcqnRZJH4,[health]
ChIJMddkV785jkcRB7daaNgGaAU,ChIJMddkV785jkcRB7daaNgGaAU,"[clothing_store, store]"
ChIJH8A8ueh2jkcRK3nPsyeMSnk,ChIJH8A8ueh2jkcRK3nPsyeMSnk,"[rv_park, lodging]"
ChIJU_2r8_0wjEcRTu2hdwChHIw,ChIJU_2r8_0wjEcRTu2hdwChHIw,[travel_agency]
ChIJk6PycVm5jkcRfxDUAS43_7c,ChIJk6PycVm5jkcRfxDUAS43_7c,[gas_station]
ChIJ7YPdAY6JjkcRvVOmU6jxSZ8,ChIJ7YPdAY6JjkcRvVOmU6jxSZ8,[lodging]
ChIJPzSXMSg5jkcRtxiqNdOsVDU,ChIJPzSXMSg5jkcRtxiqNdOsVDU,"[cafe, food]"
ChIJAbko7tV6jEcR_PR4UsnreKY,ChIJAbko7tV6jEcR_PR4UsnreKY,[health]
ChIJGVe8BYcKkEcR5xdG4yRdNc4,ChIJGVe8BYcKkEcR5xdG4yRdNc4,[health]

### Categorization 
0.0.categ_v1

In [2]:
categ_mapper = CategoryMapper()

In [17]:
categs = []

for types in pois["types"]:

    try:
        categ = categ_mapper.map_categ(types, method="most_specific")
        categs.append(categ)

    except NotValidTypes:
        categs.append("NotValidTypes")

    except NoCategoryMatched:
        categs.append("NoCategoryMatched")

In [29]:
pois["categ"] = categs

/home/tales/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
pois[["place_id", "types", "categ"]].head(8)

,place_id,types,categ
place_id,,,
ChIJTcpEIDQujEcRfRIRizbvj4k,ChIJTcpEIDQujEcRfRIRizbvj4k,"[accounting, finance, local_government_office]",finance
ChIJPV-d_9dkjEcRh-AFXijs5H0,ChIJPV-d_9dkjEcRh-AFXijs5H0,[store],store
ChIJ6TtT3J1EjEcRdmsz6L2gHTU,ChIJ6TtT3J1EjEcRdmsz6L2gHTU,[beauty_salon],beauty_salon
ChIJLZi4AC8ujEcRvSGJiRYVAk0,ChIJLZi4AC8ujEcRvSGJiRYVAk0,[health],health
ChIJKTbDs6ygmkcRhp_reVwKcjc,ChIJKTbDs6ygmkcRhp_reVwKcjc,[finance],finance
ChIJlV3lSSQKjkcR4TT3Ge3RTpc,ChIJlV3lSSQKjkcR4TT3Ge3RTpc,"[cafe, food]",cafe
ChIJB63ZuK25kUcRLGzhM7CLiX4,ChIJB63ZuK25kUcRLGzhM7CLiX4,"[jewelry_store, store]",store
ChIJzaP4gsZujkcRTffguoQ00Dk,ChIJzaP4gsZujkcRTffguoQ00Dk,"[gym, health]",health

### Adding sr_time_quartiles Category data

In [31]:
sr_time_quartiles = sr_time_quartiles.merge(pois[["place_id", "categ"]], on="place_id", how="inner")
sr_time_quartiles.sample(8)

,user_id,place_id,q1,q2,q3,sr_list,categ
5731,6199,ChIJwRnpq_9vjkcR6XwpbHfYFIc,7.166667,7.166667,7.166667,['6199_53'],bar
4971,5993,ChIJVSGmaq8xjEcRQo7lhYi11c0,25.166667,25.166667,25.166667,['5993_1614'],health
1885,6042,ChIJAW-XGkMxjEcRygPLwatomBs,53.616667,53.616667,53.616667,['6042_62'],finance
4048,5963,ChIJgzV_1s4xjEcR3qvFItiSow4,34.800000,34.800000,34.800000,['5963_543'],restaurant
2948,5966,ChIJc28QQL_djkcRHbInEDdu8OA,10.500000,10.500000,10.500000,['5966_757'],beauty_salon
9869,5967,ChIJq4KCzb0hj0cR08dvNCj4MA0,209.666667,209.666667,209.666667,['5967_198'],store
9545,6177,ChIJXfXoG8WBjkcRaVDJL5y2mr8,5.316667,5.316667,5.316667,['6177_1943'],store
3439,6189,ChIJr1JPJcWBjkcRgfXHXpi6yz0,17.450000,17.450000,17.450000,['6189_525'],bakery

In [35]:
sr_time_quartiles.groupby(["user_id", "categ"]).apply(lambda group : group["q2"].mean())

user_id  categ
5924     NoCategoryMatched           27.116667
         bakery                      14.239286
         bar                         11.159722
         beauty_salon                34.229167
         cafe                        27.030000
         convenience_store            9.466667
         finance                     39.752778
         general_contractor          42.772222
         grocery_or_supermarket      13.920833
         hair_care                  147.307143
         health                     314.566667
         lawyer                      41.772222
         library                     50.216667
         liquor_store                 7.550000
         local_government_office     16.383333
         lodging                     46.013333
         place_of_worship             5.250000
         real_estate_agency          41.391026
         restaurant                  61.727244
         school                      22.991667
         store                       41.828869
         supermarket                  6.283333
         transit_station             28.722500
         travel_agency               18.320833
5925     NoCategoryMatched           27.143750
         bakery                      20.900000
         bar                         15.850000
         beauty_salon               145.541667
         cafe                        25.975000
         convenience_store           11.200000
                                       ...
6197     health                      15.635185
         laundry                      9.266667
         place_of_worship            17.979167
         real_estate_agency           5.916667
         restaurant                  10.672222
         store                       23.192308
         travel_agency               23.150000
6198     beauty_salon                11.283333
         cafe                         9.516667
         convenience_store            5.150000
         local_government_office      6.200000
         real_estate_agency           6.283333
         restaurant                   6.738889
         store                       33.716667
         travel_agency                5.283333
6199     bar                        102.733333
         beauty_salon                48.712500
         convenience_store            6.316667
         finance                     81.711111
         general_contractor          25.100000
         grocery_or_supermarket      87.616667
         hair_care                   15.491667
         health                      66.259848
         lawyer                      34.416667
         lodging                     23.791667
         real_estate_agency          28.827778
         restaurant                  83.600000
         school                     142.370833
         store                       51.205769
         travel_agency               31.083333
Length: 2741, dtype: float64

In [36]:
sr_time_quartiles.groupby(["user_id", "categ"]).apply(lambda group : group["categ"].value_counts())

user_id  categ
5924     NoCategoryMatched        NoCategoryMatched           3
         bakery                   bakery                      7
         bar                      bar                         6
         beauty_salon             beauty_salon                4
         cafe                     cafe                        5
         convenience_store        convenience_store           1
         finance                  finance                    15
         general_contractor       general_contractor          3
         grocery_or_supermarket   grocery_or_supermarket      4
         hair_care                hair_care                   7
         health                   health                     36
         lawyer                   lawyer                      3
         library                  library                     1
         liquor_store             liquor_store                2
         local_government_office  local_government_office     1
         lodging                  lodging                     5
         place_of_worship         place_of_worship            1
         real_estate_agency       real_estate_agency         13
         restaurant               restaurant                 26
         school                   school                      4
         store                    store                      28
         supermarket              supermarket                 1
         transit_station          transit_station            10
         travel_agency            travel_agency               4
5925     NoCategoryMatched        NoCategoryMatched           4
         bakery                   bakery                      1
         bar                      bar                         2
         beauty_salon             beauty_salon                3
         cafe                     cafe                        2
         convenience_store        convenience_store           1
                                                             ..
6197     health                   health                      9
         laundry                  laundry                     1
         place_of_worship         place_of_worship            2
         real_estate_agency       real_estate_agency          1
         restaurant               restaurant                  6
         store                    store                      13
         travel_agency            travel_agency               2
6198     beauty_salon             beauty_salon                2
         cafe                     cafe                        2
         convenience_store        convenience_store           1
         local_government_office  local_government_office     1
         real_estate_agency       real_estate_agency          1
         restaurant               restaurant                  3
         store                    store                       1
         travel_agency            travel_agency               1
6199     bar                      bar                         6
         beauty_salon             beauty_salon                4
         convenience_store        convenience_store           1
         finance                  finance                     6
         general_contractor       general_contractor          1
         grocery_or_supermarket   grocery_or_supermarket      1
         hair_care                hair_care                   4
         health                   health                     11
         lawyer                   lawyer                      3
         lodging                  lodging                     2
         real_estate_agency       real_estate_agency          3
         restaurant               restaurant                  8
         school                   school                      2
         store                    store                      13
         travel_agency            travel_agency               1
Name: categ, Length: 2741, dtype: int64