In [1]:
import os

os.chdir("/home/tales/dev/master/mdc_analysis/")
print("working dir", os.getcwd())

working dir /home/tales/dev/master/mdc_analysis

In [2]:
import pandas as pd

from src.dao import objects_dao, csv_dao
from src.entity.stop_region import StopRegionGroup
from src.data_processment.input_data_version import InputDataManager

In [3]:
def len_multi_trip(multi_trip):
    soma_categs_multi_trip = 0
    for trip in multi_trip:
        soma_categs_multi_trip += len(trip)
    return soma_categs_multi_trip

In [5]:
data_manager = InputDataManager()

Loading Users Sequence Report
Loading user_id: 6189 - 1 out of 163
Loading user_id: 5936 - 2 out of 163
Loading user_id: 6087 - 3 out of 163
Loading user_id: 5973 - 4 out of 163
Loading user_id: 6085 - 5 out of 163
Loading user_id: 6074 - 6 out of 163
Loading user_id: 6012 - 7 out of 163
Loading user_id: 5982 - 8 out of 163
Loading user_id: 5948 - 9 out of 163
Loading user_id: 5974 - 10 out of 163
Loading user_id: 6090 - 11 out of 163
Loading user_id: 6199 - 12 out of 163
Loading user_id: 6068 - 13 out of 163
Loading user_id: 6024 - 14 out of 163
Loading user_id: 5976 - 15 out of 163
Loading user_id: 6094 - 16 out of 163
Loading user_id: 5941 - 17 out of 163
Loading user_id: 5995 - 18 out of 163
Loading user_id: 5962 - 19 out of 163
Loading user_id: 6093 - 20 out of 163
Loading user_id: 6033 - 21 out of 163
Loading user_id: 6079 - 22 out of 163
Loading user_id: 6038 - 23 out of 163
Loading user_id: 6175 - 24 out of 163
Loading user_id: 6042 - 25 out of 163
Loading user_id: 5924 - 26 out of 163
Loading user_id: 6083 - 27 out of 163
Loading user_id: 6178 - 28 out of 163
Loading user_id: 5958 - 29 out of 163
Loading user_id: 6086 - 30 out of 163
Loading user_id: 6100 - 31 out of 163
Loading user_id: 5945 - 32 out of 163
Loading user_id: 5925 - 33 out of 163
Loading user_id: 5935 - 34 out of 163
Loading user_id: 6172 - 35 out of 163
Loading user_id: 5955 - 36 out of 163
Loading user_id: 6073 - 37 out of 163
Loading user_id: 5980 - 38 out of 163
Loading user_id: 6010 - 39 out of 163
Loading user_id: 5993 - 40 out of 163
Loading user_id: 6037 - 41 out of 163
Loading user_id: 5979 - 42 out of 163
Loading user_id: 5966 - 43 out of 163
Loading user_id: 5985 - 44 out of 163
Loading user_id: 5967 - 45 out of 163
Loading user_id: 5970 - 46 out of 163
Loading user_id: 6169 - 47 out of 163
Loading user_id: 6188 - 48 out of 163
Loading user_id: 6097 - 49 out of 163
Loading user_id: 6096 - 50 out of 163
Loading user_id: 6041 - 51 out of 163
Loading user_id: 6192 - 52 out of 163
Loading user_id: 6064 - 53 out of 163
Loading user_id: 6183 - 54 out of 163
Loading user_id: 5954 - 55 out of 163
Loading user_id: 5972 - 56 out of 163
Loading user_id: 6060 - 57 out of 163
Loading user_id: 6069 - 58 out of 163
Loading user_id: 5937 - 59 out of 163
Loading user_id: 6028 - 60 out of 163
Loading user_id: 5990 - 61 out of 163
Loading user_id: 6071 - 62 out of 163
Loading user_id: 5928 - 63 out of 163
Loading user_id: 5992 - 64 out of 163
Loading user_id: 6058 - 65 out of 163
Loading user_id: 6001 - 66 out of 163
Loading user_id: 5964 - 67 out of 163
Loading user_id: 5950 - 68 out of 163
Loading user_id: 5991 - 69 out of 163
Loading user_id: 6177 - 70 out of 163
Loading user_id: 5961 - 71 out of 163
Loading user_id: 6176 - 72 out of 163
Loading user_id: 6007 - 73 out of 163
Loading user_id: 5956 - 74 out of 163
Loading user_id: 6182 - 75 out of 163
Loading user_id: 6171 - 76 out of 163
Loading user_id: 5938 - 77 out of 163
Loading user_id: 5960 - 78 out of 163
Loading user_id: 6103 - 79 out of 163
Loading user_id: 6179 - 80 out of 163
Loading user_id: 6027 - 81 out of 163
Loading user_id: 5947 - 82 out of 163
Loading user_id: 6020 - 83 out of 163
Loading user_id: 5927 - 84 out of 163
Loading user_id: 6047 - 85 out of 163
Loading user_id: 6072 - 86 out of 163
Loading user_id: 5977 - 87 out of 163
Loading user_id: 6198 - 88 out of 163
Loading user_id: 5957 - 89 out of 163
Loading user_id: 5975 - 90 out of 163
Loading user_id: 6057 - 91 out of 163
Loading user_id: 6102 - 92 out of 163
Loading user_id: 6043 - 93 out of 163
Loading user_id: 6077 - 94 out of 163
Loading user_id: 6026 - 95 out of 163
Loading user_id: 6014 - 96 out of 163
Loading user_id: 6078 - 97 out of 163
Loading user_id: 6166 - 98 out of 163
Loading user_id: 6015 - 99 out of 163
Loading user_id: 5978 - 100 out of 163
Loading user_id: 5986 - 101 out of 163
Loading user_id: 5969 - 102 out of 163
Loading user_id: 6174 - 103 out of 163
Loading user_id: 5949 - 104 out of 163
Loading user_id: 5959 - 105 out of 163
Loading user_id: 6023 - 106 out of 163
Loading user_id: 6051 - 107 out of 163
Loading user_id: 6029 - 108 out of 163
Loading user_id: 6036 - 109 out of 163
Loading user_id: 6070 - 110 out of 163
Loading user_id: 5952 - 111 out of 163
Loading user_id: 6062 - 112 out of 163
Loading user_id: 6056 - 113 out of 163
Loading user_id: 5942 - 114 out of 163
Loading user_id: 5953 - 115 out of 163
Loading user_id: 6034 - 116 out of 163
Loading user_id: 6076 - 117 out of 163
Loading user_id: 6066 - 118 out of 163
Loading user_id: 5940 - 119 out of 163
Loading user_id: 6197 - 120 out of 163
Loading user_id: 6109 - 121 out of 163
Loading user_id: 6002 - 122 out of 163
Loading user_id: 6016 - 123 out of 163
Loading user_id: 6187 - 124 out of 163
Loading user_id: 5987 - 125 out of 163
Loading user_id: 6053 - 126 out of 163
Loading user_id: 6104 - 127 out of 163
Loading user_id: 5943 - 128 out of 163
Loading user_id: 6017 - 129 out of 163
Loading user_id: 6168 - 130 out of 163
Loading user_id: 6045 - 131 out of 163
Loading user_id: 5989 - 132 out of 163
Loading user_id: 5963 - 133 out of 163
Loading user_id: 5968 - 134 out of 163
Loading user_id: 6194 - 135 out of 163
Loading user_id: 6190 - 136 out of 163
Loading user_id: 6003 - 137 out of 163
Loading user_id: 6035 - 138 out of 163
Loading user_id: 6167 - 139 out of 163
Loading user_id: 6004 - 140 out of 163
Loading user_id: 6030 - 141 out of 163
Loading user_id: 6054 - 142 out of 163
Loading user_id: 6032 - 143 out of 163
Loading user_id: 6170 - 144 out of 163
Loading user_id: 6063 - 145 out of 163
Loading user_id: 6005 - 146 out of 163
Loading user_id: 5988 - 147 out of 163
Loading user_id: 5944 - 148 out of 163
Loading user_id: 6075 - 149 out of 163
Loading user_id: 6061 - 150 out of 163
Loading user_id: 5965 - 151 out of 163
Loading user_id: 6040 - 152 out of 163
Loading user_id: 6000 - 153 out of 163
Loading user_id: 6059 - 154 out of 163
Loading user_id: 5951 - 155 out of 163
Loading user_id: 6106 - 156 out of 163
Loading user_id: 6082 - 157 out of 163
Loading user_id: 6031 - 158 out of 163
Loading user_id: 6180 - 159 out of 163
Loading user_id: 6039 - 160 out of 163
Loading user_id: 6181 - 161 out of 163
Loading user_id: 6067 - 162 out of 163
Loading user_id: 5939 - 163 out of 163

In [6]:
raw_data_dm = data_manager.get_input_data("raw_tags-0.0")["user_data"]

In [7]:
seq_report = objects_dao.load_users_sequence_report(use_cache=True)

In [8]:
multi_trip_dm = data_manager.users_multi_trip(gap_tresh_minutes=60 * 12,
                               sr_stay_time_minutes=4,
                               version="0.0.categ_v1")

In [9]:
centroids = csv_dao.load_all_users_stop_regions_centroids()

All Stop Regions:    120607

In [12]:
stop_regions_group_csv = {}
stop_regions_group_csv_agg = {}

for user_id in multi_trip_dm.keys():
    stop_regions_group_csv[user_id] = objects_dao.load_stop_region_group_object(user_id=user_id, is_agg=False)
    stop_regions_group_csv_agg[user_id] = objects_dao.load_stop_region_group_object(user_id=user_id, is_agg=True)

### Multi Trip Has repeated first element

In [13]:
firsts_sr = []

for user_id in multi_trip_dm.keys():
    firsts_sr.append({"user_id": user_id, 
                      "len": len_multi_trip(multi_trip_dm[user_id]),
                      "1st": multi_trip_dm[user_id][0][0][0],
                      "2nd": multi_trip_dm[user_id][0][1][0]})

pd.DataFrame(firsts_sr)[["user_id", "len", "1st", "2nd"]].head()

  user_id  len                1st                2nd
0    6189  406               HOME               HOME
1    5936  467       liquor_store       liquor_store
2    6087  267  NoCategoryMatched  NoCategoryMatched
3    5973  858               WORK               WORK
4    6085  526               HOME               HOME

### Different Lengths fo Stop Regions

In [18]:
lengths = []

for user_id in multi_trip_dm.keys():
    
    lengths.append({"user_id": user_id,
                   "multi_trip_dm": len_multi_trip(multi_trip_dm[user_id]), 
                   "seq_report": len(seq_report[user_id]),
                   "stop_regions_group_csv": stop_regions_group_csv[user_id].size(),
                   "stop_regions_group_csv_agg" : stop_regions_group_csv_agg[user_id].size()})
    
pd.DataFrame(lengths)

,multi_trip_dm,seq_report,stop_regions_group_csv,stop_regions_group_csv_agg,user_id
0,406,405,574,406,6189
1,467,466,761,467,5936
2,267,266,610,267,6087
3,858,857,6079,858,5973
4,526,525,1398,526,6085
5,39,38,45,39,6074
6,321,320,517,321,6012
7,64,63,104,64,5982
8,511,510,996,511,5948
9,529,528,1038,529,5974
10,49,48,85,49,6090
11,128,127,240,128,6199
12,187,186,347,187,6068
13,96,95,158,96,6024
14,870,869,2073,870,5976
15,414,413,787,414,6094
16,160,159,252,160,5941
17,432,431,941,432,5995
18,248,247,426,248,5962
19,41,40,59,41,6093
20,193,192,526,193,6033
21,344,343,465,344,6079
22,304,303,647,304,6038
23,293,292,580,293,6175
24,562,561,1396,562,6042
25,390,389,628,390,5924
26,220,219,347,220,6083
27,525,524,2105,525,6178
28,180,179,266,180,5958
29,290,289,450,290,6086
...,...,...,...,...,...
133,153,152,241,153,5968
134,291,290,880,291,6194
135,2,1,7,2,6190
136,408,407,1354,408,6003
137,242,241,371,242,6035
138,500,499,861,500,6167
139,702,701,1268,702,6004
140,301,300,385,301,6030
141,273,272,422,273,6054
142,260,259,380,260,6032
143,595,594,915,595,6170
144,264,263,418,264,6063
145,249,248,416,249,6005
146,377,376,672,377,5988
147,429,428,610,429,5944
148,204,203,322,204,6075
149,307,306,541,307,6061
150,775,774,1362,775,5965
151,241,240,307,241,6040
152,120,119,163,120,6000
153,270,269,829,270,6059
154,13,12,15,13,5951
155,807,806,1722,807,6106
156,353,352,543,353,6082
157,280,279,410,280,6031
158,195,194,318,195,6180
159,282,281,605,282,6039
160,20,19,22,20,6181
161,253,252,532,253,6067
162,455,454,725,455,5939

In [ ]:
from itertools import groupby

len([x[0] for x in groupby(centroids["user_id"].tolist())])